@using personnel_department_DB.Models;
@model List<Employee>
<h1>Поиск по номеру телефона</h1>

@if (Model!=null || Model.Count==0)
{
   
int i = 1;
<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ФИО</th>
            <th scope="col">Телефон</th>
            <th scope="col">Инн</th>
            <th scope="col">Стаж (лет)</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in @Model)
        {
          
            <tr>
                <th scope="row">@i</th>
                <td class="w-35">@employee.FIO</td>
                <td class="w-15">@employee.PhoneNumber</td>
                <td class="w-15">@employee.INH</td>
                <td class="w-15">@employee.WorkExperience</td>
                <td><a class="btn btn-primary" asp-route-id="@employee.Id" asp-controller="employee" asp-action="details">Подробнее</a></td>
            </tr>
            { i += 1; }
        }
    </tbody>
</table>
    <a class="btn btn-success" asp-controller="employee" asp-route-phone="+8" asp-action="FindByPhone">Найти</a>
}
else
{
    <h1>Работников с таким номером нет</h1>
}
