@using personnel_department_DB.Models;
@model List<Employee>
@{
    int i = 1;
}

<form class="mb-2" asp-controller="employee" asp-action="FindByPhone">
    <div class="form-group row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-emoji-dizzy"></i></span>
                <input type="text" class="form-control" placeholder="Поиск по телефону" name="phone" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-secondary">Найти</button>
        </div>
    </div>
</form>
<form class="mb-2" asp-controller="employee" asp-action="FindByTable">
    <div class="form-group row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-emoji-smile"></i></span>
                <input type="text" class="form-control" placeholder="Поиск по табелю" name="tableId" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-secondary">Найти</button>
        </div>
    </div>

</form>
<form class="mb-2" asp-controller="employee" asp-action="FindByPosition">
    <div class="form-group row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-emoji-angry"></i></span>
                <select  class="form-control" name="positionName" asp-items="ViewBag.Positions"></select>
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-secondary">Найти</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ФИО</th>
            <th scope="col">Телефон</th>
            <th scope="col">Инн</th>
            <th scope="col">Стаж (лет)</th>
            <th scope="col">Должность</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in @Model)
        {

            <tr>
                <th scope="row">@i</th>
                <td class="w-35">@employee.FIO</td>
                <td class="w-15">@employee.PhoneNumber</td>
                <td class="w-15">@employee.INH</td>
                <td class="w-15">@employee.WorkExperience</td>
                <td class="w-15">@employee.Position.Name</td>
                <td><a class="btn btn-primary" asp-route-id="@employee.Id" asp-controller="employee" asp-action="details">Подробнее</a></td>
            </tr>
            { i += 1; }
        }
    </tbody>
</table>
<a class="btn btn-success" asp-controller="employee" asp-action="Add">Добавить</a>
